.parant{
    height: 500px;
    background-color: red;
    margin-top: 200px;
}
.ch{
    background-color: blue;
    height: 200px;
    width: 200px;
    /* position:absolute;
    top: 20px; */
    position:relative;
    top: 30px;
    left: 40px;
    

}
.box{
    background-color: blueviolet;
    height: 200px;
    width: 200px;
    /* position: sticky;
    top: 0%; */

    position: fixed;
    top: 200px;
    left: 200px;
}
