.wrapper {
    background-color: ;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    gap: 20px;

}

.ch1,
.ch2,
.ch3,
.ch4,
.ch5,
.ch6 {
    border: 3px solid;
}

.ch1 {
    background-color: yellow;
    grid-column-start: 1;
    grid-column-end: 4;
}

.ch2 {
    background-color: green;

}

.ch3 {
    background-color: aqua;

}

.ch4 {
    background-color: brown;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}

.ch5 {
    background-color: gray;
    grid-column-start: 1;
    grid-column-end: 3;

}

.ch6 {
    background-color: lightslategray;
    grid-column-start: 1;
    grid-column-end: 4;

}