.slider{
    height: 100vh;
    background-image: url(download.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: slider;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes slider{
    0%{
        background-image: url(thailand.jpg);
    }
    50%{
        background-image: url(canada.jpg);
    }
    100%{
        background-image: url(kerala.jpg);
    }
}