*{
    margin: 0;
    padding: 0;
}
.box-pr{

    height: 800px;
    width: 800px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}


.box-ch{
    width: 200px ;
    height: 200px;
    background-color: red;
    box-shadow: red;
    position: relative;
    animation-name: task;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    
}

@keyframes task{

    0%{

    }
}

