header{
    background-color: antiquewhite;
    background-image: url(task.jpg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
} 
.navbar ul{
    display: flex;
    gap: 50px;
    justify-content: space-around;
    list-style: none;
   
} 